<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techcafe.todone.auth">

    <application>
        <activity
            android:name=".AuthActivity"
            android:label="@string/title_Auth" />
    </application>

</manifest>